<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        .img-ativa {
          filter: brightness(80%);
          transform: scale(1.05);
          transition: all 0.3s;
        }
    </style>
</head>
<body>
    <div class="container-fluid p-3 bg-primary text-white text-center">
        <div class="row">
            <h1>ProdutosDix</h1>
            <p>loja de produto com preços incriveis</p>
        </div>
    </div>
    <div class="container p-1 mt-4">
        <div class="d-flex align-items-center p-3 mr-1 justify-content-between">
            <h1>Lista de Produtos</h1>
            <a class="btn btn-success btn-lg" href="/novoProduto">Cadastrar</a>
        </div>
        <div class="row">
            <% produtos.forEach(produto=>{ %>
                <div class="col-md-4 mb-4">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="<%= produto.imagem %>" id="imagemClick" style="height: 300px; object-fit: cover; cursor: pointer;" alt="imagem produto">
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= produto.nome %>
                            </h5>
                            <p class="card-text">Preço: R$ <%= produto.preco.toFixed(2) %>
                            </p>
                            <button class="btn btn-warning" onclick="editarProduto('<%= produto.id %>')">
                                <i class="bi bi-pencil-square"></i>Editar</button>
                            <button class="btn btn-danger" onclick="deletarProduto('<%= produto.id %>')">
                                <i class="bi bi-trash"></i>Deletar</button>
                        </div>
                    </div>
                </div>
                <%});%>
        </div>

        <hr>

        <div class="modal" id="editModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="formEditar">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Produto</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                                <input type="hidden" id="editarId">
                                <div class="row">
                                    <div class="col-sm-8 mb-4">
                                        <label for="editarNome" class="form-label required">Nome Produto</label>
                                        <input type="text" class="form-control" name="editarNome" id="editarNome">
                                    </div>
                                    <div class="col-sm-4 mb-4 ">
                                        <label for="editarPreco" class="form-label">Preço do Produto</label>
                                        <input type="number" step="0.01" id="editarPreco" class="form-control" name="editarPreco">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mb-4">
                                        <label for="editarImagem" class="form-label">Imagem</label>
                                        <input type="file" class="form-control" name="editarImagem" id="editarImagem" accept="imagem/*">
                                    </div>
                                </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="cad-categoria-btn">Salvar</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <script>
            async function deletarProduto(id) {
                const res = await fetch(`/produtos/${id}`, {
                    method: 'DELETE',
                });

                if (res.ok) {
                    alert('produto deletado com sucesso')
                    window.location.reload()
                } else {
                    alert(res)
                }
            }

            async function editarProduto(id) {
                const produto = <%- JSON.stringify(produtos) %>.find(p => p._id == id);

                if (!produto) return alert('Produto não encontrado!');

                document.getElementById('editarId').value = produto._id;
                document.getElementById('editarNome').value = produto.nome;
                document.getElementById('editarPreco').value = produto.preco;
                document.getElementById('editarImagem').files[0] = produto.imagem;

                const modal = new bootstrap.Modal(document.getElementById('editModal'));
                modal.show();
            }

            document.getElementById('formEditar').addEventListener('submit', async (e) => {
                e.preventDefault();

                const id = document.getElementById('editarId').value;
                const nome = document.getElementById('editarNome').value;
                const preco = parseFloat(document.getElementById('editarPreco').value);
                const imagem = document.getElementById('editarImagem');

                let imagemBase64 = null

                if (imagem.files && imagem.files[0]) {
                    imagemBase64 = await toBase64(imagem.files[0]);
                }

                const res = await fetch(`/produtos/${id}`,{
                    method: 'PUT',
                    headers: {'Content-Type':'application/json'},
                    body:JSON.stringify({id,nome,preco,imagem: imagemBase64})
                });

                if (res.ok) {
                    alert('Produto Editado com sucesso!');
                    window.location.reload();
                }   
                else {
                    alert('Erro ao editar o produto!');
                }
            })

            function toBase64(file) {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error)
                })
            }

        </script>

        <script>
                const imagem = document.getElementById('imagemClick');

                imagem.addEventListener('click', function () {
                imagem.classList.toggle('img-ativa');
                });
        </script>
</body>
</html>