<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container-fluid p-3 bg-primary text-white text-center">
        <h1>ProdutosDix</h1>
        <p>loja de produto com preços incriveis</p> 
    </div>
    <div class="container p-1 mt-4">
        <h1>Lista de Produtos</h1>
        <div class="row">
            <% produtos.forEach(produto=>{ %>
                <div class="col-md-4 mb-4">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="<%= produto.imagem %>" alt="imagem produto">
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title"><%= produto.nome %></h5>
                            <p class="card-text">Preço: R$ <%= produto.preco.toFixed(2) %></p>
                            <button class="btn btn-warning" onclick="editarProduto('<%= produto.id %>')">
                            <i class="bi bi-pencil-square"></i>Editar</button>
                            <button class="btn btn-danger" onclick="deletarProduto('<%= produto.id %>')">
                            <i class="bi bi-trash"></i>Deletar</button>
                        </div>
                    </div>
                </div>
            <%});%> 
        </div>

        <hr>

   <script>
        async function deletarProduto(id) {
            const res = await fetch(`/produtos/${id}`,{
                method: 'DELETE',
            });

            if(res.ok){
                alert('produto deletado com sucesso')
                window.location.reload()
            } else {
                alert(res)
            }
        }

        async function editarProduto(id) {
            const nome = prompt('Digite o novo nome: ');
            const preco = parseFloat(prompt('Digite o novo preço'));
            const imagem = prompt('Informe a url da imagem do produto');

            if (!nome || isNaN(preco) || !imagem) {
                return alert('Os valores informados estão errado!')
            }

            const res = await fetch(`/produtos/${id}`, {
                method: 'PUT',
                headers: {'Content-Type':'application/json'},
                body:JSON.stringify({id,nome,preco,imagem})
            })

            if (res.ok) {
                alert('Produto alterado com sucesso');
                window.location.reload();
            } else {
                alert('Erro ao atualizar o produto');
            }
        }

   </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>